# CLion / JetBrains
.idea/

# CMake
cmake-build-*/
**/cmake-build-*/

CMakeFiles/
CMakeCache.txt
Makefile
compile_commands.json

# Visual Studio
.vs/
x64/
Debug/
Release/

# Build files
*.out
*.exe
*.o
*.obj
*.ilk
*.pdb
*.tlog
*.recipe
*.idb
*.ipch
*.suo

# macOS
.DS_Store
*.dSYM/